textarea {
    width: 500px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 3px;
}

textarea:focus {
    outline: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}

html {
    font-family: sans-serif;
}

label {
    user-select: none;
}

button {
    border: none;
    background: rgb(144, 220, 245);
    border-radius: 3px;
    cursor: pointer;
}

button:active {
    background: rgb(22, 118, 243);
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    font-weight: 500;
}
